  {{#each plants as |plant|}}
    <section class="plant-collection" data-id="{{plant.id}}">

      <h5>
        {{plant.name}}
      </h5>
    <h6><i>{{plant.scientificName}}</i></h6>
      <h6>type: {{plant.type}}</h6>
      <h6>soil: {{plant.soil}}</h6>
      <h6>sunlight: {{plant.sunlight}}</h6>
      <h6>water: {{plant.water}}</h6>

<!-- Update Plant Button - Trigger Modal -->
      <button class="update-plant" type="button" data-toggle="modal" data-target="#updatePlant-{{plant._id}}">update</button>

<!-- Modal -->

      <div class="modal fade" id="updatePlant-{{plant._id}}" tabindex="-1" role="dialog" aria-labelledby="updatePlantLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">update plant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <p id="modal-message"></p>

              <form class="update-plant" data-id="{{plant._id}}">
                <h6>name:
                  <input name="plant[name]" placeholder="{{plant.name}}" type="text">
                </h6>
                <h6>scientific name:
                  <input name="plant[scientificName]" placeholder="{{plant.scientificName}}" type="text">
                </h6>
                <h6>type:
                  <input name="plant[type]" placeholder="{{plant.type}}" type="text">
                </h6>
                <h6>soil:
                  <input name="plant[soil]" placeholder="{{plant.soil}}" type="text">
                </h6>
                <h6>sunlight:
                  <input name="plant[sunlight]" placeholder="{{plant.sunlight}}" type="text">
                </h6>
                <h6>water:
                  <input name="plant[water]" placeholder="{{plant.water}}" type="text">
                </h6>
                <div class="modal-footer">
                  <button type="submit" class="btn save-changes">save changes</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

<!-- Remove Plant Button -->
    <button type="button" class="btn btn-danger destroy-plant" data-id="{{plant._id}}">remove</button>

    </section>

  {{/each}}
